---
title: A request was made to change your email address. Let us help you get this done.
preheader: A request was made to change your email address. Let us help you get this done.
---

<x-main>
  <div class="font-inter">
    <table align="center" class="m-0 mx-auto">
      <tr>
        <td class="w-[550px] max-w-full sm:px-3 px-0">
          <table class="w-full">
            <tr>
              <td>
                <x-spacer height="40px" />

                <table class="w-full">
                  <tr>
                    <x-body-container>
                      <table class="w-full">
                        <!-- Header with company name -->
                        <x-company-header />
                        <tr>
                          <td>
                            <x-body-text>Hello @{{ username }},</x-body-text>
                            <x-body-text>
                              We received a request to change the email address associated with your
                              account to
                              <a class="text-sky-500" href="mailto:@{{ newEmail }}"
                                ><strong>@{{ newEmail }}</strong></a
                              >.
                            </x-body-text>
                            <x-body-text>
                              If you did not make this request, please ignore this email. No changes
                              will be made to your account. Otherwise, you can make this change by
                              clicking the button below.
                            </x-body-text>
                            <x-spacer height="16px" />
                            <x-button target="_blank" href="@{{ link }}">
                              Update email address
                            </x-button>
                            <x-spacer height="16px" />
                            <x-body-text>
                              Thanks,
                              <br />
                              <span>The <strong>{{ company.shortName }}</strong> team.</span>
                            </x-body-text>
                            <x-divider />
                            <x-body-text>
                              If you have any questions, please don't hesitate to contact us at
                              <x-company-email-link />
                            </x-body-text>
                            <x-spacer height="16px" />
                            <x-divider />
                            <x-spacer height="16px" />
                            <!-- Footer with company information -->
                            <x-company-footer />
                          </td>
                        </tr>
                      </table>
                    </x-body-container>
                  </tr>
                </table>
                <x-spacer height="40px" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
