---
title: We heard that you forgot your password. Let us help you with creating a new one.
preheader: We heard that you forgot your password. Let us help you with creating a new one.
---

<x-main>
  <div class="font-inter">
    <table align="center" class="m-0 mx-auto">
      <tr>
        <td class="w-[550px] max-w-full sm:px-3 px-0">
          <table class="w-full">
            <tr>
              <td>
                <x-spacer height="40px" />

                <table class="w-full">
                  <tr>
                    <x-body-container>
                      <table class="w-full">
                        <!-- Header with company name -->
                        <x-company-header />
                        <tr>
                          <td>
                            <x-body-text>Hello @{{ username }},</x-body-text>
                            <x-body-text>
                              We heard that you forgot your password. Let us help you with creating
                              a new one.
                            </x-body-text>
                            <x-body-text>
                              If you did not request a password reset, please ignore this email.
                              Otherwise, you can reset your password by clicking the button below.
                            </x-body-text>
                            <x-spacer height="16px" />
                            <x-button target="_blank" href="@{{ link }}"
                              >Reset your password</x-button
                            >
                            <x-spacer height="16px" />
                            <x-body-text>
                              Thanks,
                              <br />
                              <span>The <strong>{{ company.shortName }}</strong> team.</span>
                            </x-body-text>
                            <x-divider />
                            <x-body-text>
                              If you have any questions, please don't hesitate to contact us at
                              <x-company-email-link />
                            </x-body-text>
                            <x-spacer height="16px" />
                            <x-divider />
                            <x-spacer height="16px" />
                            <!-- Footer with company information -->
                            <x-company-footer />
                          </td>
                        </tr>
                      </table>
                    </x-body-container>
                  </tr>
                </table>
                <x-spacer height="40px" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
