---
title: We would love for you to join our organization! Use the link below to get started.
preheader: We would love for you to join our organization! Use the link below to get started.
---

<x-main>
  <div class="font-inter">
    <table align="center" class="m-0 mx-auto">
      <tr>
        <td class="w-[550px] max-w-full sm:px-3 px-0">
          <table class="w-full">
            <tr>
              <td>
                <x-spacer height="40px" />

                <table class="w-full">
                  <tr>
                    <x-body-container>
                      <table class="w-full">
                        <!-- Header with company name -->
                        <x-company-header />
                        <tr>
                          <td>
                            <x-body-text>Hello @{{ username }},</x-body-text>
                            <x-body-text>
                              You've been invited to join <strong>@{{ teamName }}</strong> on
                              <strong>@{{ organizationName }}</strong>!
                            </x-body-text>
                            <x-body-text>
                              This invitation was sent to you by
                              <strong>@{{ inviter }}</strong> (via
                              <a class="text-sky-500" href="mailto:@{{ inviterEmail }}"
                                ><strong>@{{ inviterEmail }}</strong></a
                              >).
                            </x-body-text>

                            <x-body-text>
                              We're excited to have you as part of our team. Here's a quick way to
                              get started
                            </x-body-text>
                            <x-body-text
                              >Simply click the button below to accept your invitation and join the
                              team</x-body-text
                            >
                            <x-spacer height="16px" />
                            <x-button target="_blank" href="@{{ link }}"
                              >Accept invitation</x-button
                            >
                            <x-spacer height="16px" />
                            <x-body-text>
                              Thanks,
                              <br />
                              <span>The <strong>{{ company.shortName }}</strong> team.</span>
                            </x-body-text>
                            <x-divider />
                            <x-body-text>
                              If you have any questions, please don't hesitate to contact us at
                              <x-company-email-link />
                            </x-body-text>
                            <x-spacer height="16px" />
                            <x-divider />
                            <x-spacer height="16px" />
                            <!-- Footer with company information -->
                            <x-company-footer />
                          </td>
                        </tr>
                      </table>
                    </x-body-container>
                  </tr>
                </table>
                <x-spacer height="40px" />
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
